.card {
  margin: 1em;
  padding: 1em;
  background-color: #bb4430;
  height: 550px;
  position: relative;
}

.card > img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.card > h2 {
  text-align: center;
  color: #fdfcdc;
  max-height: 170px;
  overflow: hidden;
}

.card > p {
  color: #fdfcdc;
  font-weight: 550;
  letter-spacing: 0.02cm;
  max-height: 200px;
  overflow: hidden;
}

.card > a.btn {
  position: absolute;
  bottom: 20px;
  left: 5%;
  right: 5%;
}

.card > a.btn:active {
  box-shadow: none;
  bottom: 15px;
  top: auto;
}
